


body {
    background-image: url("../images/vintage.jpg");
    background-repeat: repeat;
}

.calc-body {
  width: 30%;
  margin:0.5%;
  border-style: hidden;
  border-radius: 2px;
  background-color: #f6ebba;
  padding: 1%;
}
    .text-box {
      width: 98%;
      height: 15%;
      border-style: hidden;
      border-radius: 2px;
      background-color: #A4AF8F;
      margin: 0.5% auto;
    }
   .text-space {
     text-align: right;
      font-family: "Digital", sans-serif;
      font-size: 14vh;
      position: relative;
      top: -20;
     left: -5;
     }
  .buttons-body {
    max-height: 70%;
    margin:1%;
    padding: 1%;
    width: 98%;
  }

    .cleardel-button {
      font-family: Lato, sans-serif;
      margin: 1%;
      font-weight: 600;
      text-align: center;
      padding: 1%;
      max-height: 10%;
      min-width: 80px;
      max-width: 80px;
      border-style: hidden;
      border-radius: 2px;
    }

    #del {
      float: left;
      color: #090B0C;
      background-color: darkgray;
    }

    #on {
      float: right;
      color: beige;
      background-color: darkred;
    }
    .gray-button {
      font-family: Lato, sans-serif;
      font-weight: 600;
      text-align: center;
      color: #090B0C;
      padding: 2%;
      max-height: 21%;
      width: 21%;
      margin: 1%;
      border-style: hidden;
      border-radius: 2px;
      background-color: darkgray;
    }

    @media screen and (max-width: 1441px) {
      .calc-body {
        width: 95%;
        height: 98%;
        margin:0.5%;
        border-style: hidden;
        border-radius: 2px;
        background-color: #f6ebba;
        padding: 1%;
      }

      .cleardel-button {
        height: 10%;
        width: 22.5%;
        margin-right: 2%;
      }
      .gray-button {

        font-size: 10vh;
        text-align: center;
        color: #090B0C;
        padding: 1%;
        height: 16.5%;
        width: 22.5%;
        margin: 1%;
      }

    }

@font-face {
    font-family: "Digital";
    src: url(../fonts/digital-7.ttf) format("truetype");
}
