


body {
    background-image: url("vintage.jpg");
    background-repeat: repeat;
}

.calc-body {
  max-width: 30%;
  margin:0.5%;
  border-style: hidden;
  border-radius: 2px;
  background-color: #f6ebba;
  padding: 1%;
}
    .text-box {
      width: 85%;
      height: 15%;
      border-style: hidden;
      border-radius: 2px;
      background-color: #A4AF8F;
      margin: 1% auto;
    }
   .text-space {
     text-align: right;
      font-family: "Digital", sans-serif;
      font-size: 15vw;
      position: relative;
      top: 0;
     left: -5;
     }
  .buttons-body {
    margin:1%;
    padding: 1%;
    width: 98%;
  }

    .red-button {
      font-family: Lato, sans-serif;

      font-weight: 600;
      text-align: center;
      color: beige;
      padding: 5px;
      min-height: 25px;
      max-height: 25px;
      min-width: 80px;
      max-width: 80px;
      border-style: hidden;
      border-radius: 2px;
      background-color: darkred;
    }

    .delete-button {
      font-family: Lato, sans-serif;
      font-weight: 600;
      text-align: center;
      color: #090B0C;
      padding: 5px;
      min-height: 25px;
      max-height: 25px;
      min-width: 80px;
      max-width: 80px;
      margin: 5px;
      border-style: hidden;
      border-radius: 2px;
      background-color: darkgray;
    }
    .gray-button {
      font-family: Lato, sans-serif;
      font-weight: 600;
      text-align: center;
      color: #090B0C;
      padding: 2%;
      max-height: 30%;
      width: 21%;
      margin: 2%;
      border-style: hidden;
      border-radius: 2px;
      background-color: darkgray;
    }

    @media screen and (max-width: 1081px) {
      .calc-body {
        max-width: 98%;
        height: 98%;
        margin:0.5%;
        border-style: hidden;
        border-radius: 2px;
        background-color: #f6ebba;
        padding: 1%;
      }

      .gray-button {

        font-size: 10vh;
        text-align: center;
        color: #090B0C;
        padding: 0.5%;
        height: 20%;
        width: 21%;
        margin: 0.5%;
      }

    }

@font-face {
    font-family: "Digital";
    src: url(digital-7.ttf) format("truetype");
}
